@import "reset";
@import "media";
@import "fonts";
@import "variables";
nav {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  left: 0;
  background-color: #050505;
  color: white;
  display: flex;
  padding: 10px 0;
  align-items: center;
  align-content: center;
  flex-direction: row;
  @include media-max(735px) {
    display: block;
  }
  .brand {
    @include media-max(735px) {
      display: flex;
    }
    .logo {
      @include media-max(735px) {}
      a {
        img {
          width: 3em;
          margin-left: 10px;
        }
      }
    }
    .burger {
      display: none;
      padding: 10px;
      @include media-max(735px) {
        display: inherit;
        margin-left: auto;
        margin-right: 20px;
      }
      button {
        background-color: #050505;
        border: none;
        cursor: pointer;
        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }
  .options {
    background-color: #050505;
    margin-left: auto;
    @include media-max(735px) {
      margin-left: 0;
      display: none;
    }
    a {
      color: white;
      padding: 20px;
      transition-property: all;
      transition-duration: 0.3s;
      &:hover {
        color: black;
        background-color: white;
      }
      @include media-max(735px) {
        display: block;
      }
    }
  }
}

section.hero {
  background: url("../img/basketball-25927902.png");
  background-size: cover;
  padding: 10% 20px;
  .container {
    text-align: center;
    .contents {
      .d1 {
        font-size: 5em;
        color: $orange;
        text-transform: uppercase;
        @include media-max(735px) {
          font-size: 4em;
        }
      }
      p {
        // color: #757373;
        font-size: 3em;
        @include media-max(735px) {
          font-size: 2em;
        }
      }
      .button-row {
        margin-top: 20px;
        margin-bottom: 20px;
        @include media-max(735px) {
          display: flex;
          flex-direction: column;
          align-content: center;
          padding: 10px;
        }
        button {
          background-color: $green;
          border: none;
          padding: 20px 60px;
          color: white;
          font-size: 1em;
          @include media-max(735px) {
            margin-top: 30px;
          }
          &:hover {
            background-color: $green-dark;
          }
        }
      }
    }
  }
}