@import "reset";
@import "media";
@import "fonts";
@import "variables";
nav {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  left: 0;
  background-color: #050505;
  color: white;
  display: flex;
  padding: 10px 0;
  align-items: center;
  align-content: center;
  flex-direction: row;
  @include media-max(735px) {
    display: block;
  }
  .brand {
    @include media-max(735px) {
      display: flex;
    }
    .logo {
      @include media-max(735px) {}
      a {
        img {
          width: 3em;
          margin-left: 10px;
        }
      }
    }
    .burger {
      display: none;
      padding: 10px;
      @include media-max(735px) {
        display: inherit;
        margin-left: auto;
        margin-right: 20px;
      }
      button {
        background-color: #050505;
        border: none;
        cursor: pointer;
        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }
  .options {
    background-color: #050505;
    margin-left: auto;
    @include media-max(735px) {
      margin-left: 0;
      display: none;
    }
    a {
      color: white;
      padding: 20px;
      transition-property: all;
      transition-duration: 0.3s;
      &:hover {
        color: black;
        background-color: white;
      }
      @include media-max(735px) {
        display: block;
      }
    }
  }
}

section.hero {
  background: url("../img/basketball-25927905.png");
  background-size: cover;
  padding: 10% 20px;
  .container {
    text-align: center;
    .contents {
      .d1 {
        font-size: 5em;
        color: $orange;
        text-transform: uppercase;
        font-weight: 800;
        @include media-max(735px) {
          font-size: 4em;
        }
      }
      p {
        // color: #757373;
        font-size: 3em;
        font-weight: 600;
        @include media-max(735px) {
          font-size: 2em;
          color: #0a0a0a;
        }
      }
      .button-row {
        margin-top: 20px;
        margin-bottom: 20px;
        @include media-max(735px) {
          display: flex;
          flex-direction: column;
          align-content: center;
          padding: 10px;
        }
        button {
          background-color: $green;
          border: none;
          padding: 20px 60px;
          color: white;
          font-size: 1em;
          @include media-max(735px) {
            margin-top: 30px;
          }
          &:hover {
            background-color: $green-dark;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 20px;
  marquee {
    img {
      width: 50px;
    }
  }
  form {
    padding: 5% 10%;
    background-color: $black;
    @include media-max(400px) {
      padding: 20px;
    }
    h2 {
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      color: white;
      margin-bottom: 20px;
    }
    .inputs {
      display: flex;
      justify-content: center;
      @include media-max(400px) {
        display: block;
      }
      input {
        flex-grow: 1;
        padding: 20px 10px;
        font-size: 1em;
        @include media-max(400px) {
          width: 100%;
          display: block;
          margin-bottom: 10px;
        }
      }
      button {
        padding: 0 20px;
        margin-left: 10px;
        background-color: $green;
        color: white;
        border: none;
        @include media-max(400px) {
          display: block;
          width: 100%;
          margin: 0;
          padding: 20px 10px;
        }
      }
    }
  }
  .btm-nav {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    @include media-max(800px) {
      display: block;
    }
    .links {
      padding: 10px;
      margin-right: auto;
      .copyright {
        padding: 10px;
      }
      a {
        color: black;
        padding: 20px;
        @include media-max(800px) {
          display: block;
        }
        &:hover {
          text-decoration: underline;
          color: $orange;
        }
      }
    }
    .social-handles {
      margin-right: 10px;
      @include media-max(800px) {
        padding: 20px;
      }
      a {
        &:hover {
          svg {
            path {
              fill: $orange;
            }
          }
        }
        svg {
          path {
            fill: $green;
          }
        }
      }
    }
  }
}

section.latest-news {
  padding: 20px;
  h2 {
    text-transform: uppercase;
    font-size: 3.5em;
  }
  .news {
    .top-news {
      grid-gap: 50px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      @include media-max(1210px) {
        display: none;
      }
      .top-news-img {
        img {
          min-width: 100%;
        }
      }
      .top-news-details {
        display: flex;
        flex-direction: column;
        .title {
          font-size: 2.5em;
          font-weight: 600;
          margin-bottom: auto;
        }
        .news-summary {
          font-size: 1.5em;
        }
        .date {
          margin-top: auto;
          font-size: 1em;
          color: #b9b9b9;
        }
      }
    }
    .other-news {
      margin-top: 20px;
      // padding: 20px;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      @include media-max(1210px) {
        grid-gap: 10px;
      }
      @include media-max(900px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .new-news {
        &:nth-of-type(3),
        &:nth-of-type(4) {
          display: none;
        }
        .news-img {
          img {
            min-width: 100%;
          }
        }
        .title {
          font-weight: 700;
        }
        .date {
          margin-top: auto;
          font-size: 1em;
          color: #b9b9b9;
        }
      }
    }
  }
}